.container {
  min-width: 280px;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
}
.newNumbersBtn {
  margin-bottom: 15px;
  padding: 5px 8px;
}
.numbersBlock {
  display: flex;
  justify-content: center;
}